{% extends 'base.html.twig' %}

{# {% block title %}<title>Hello HomeController!</title>{% endblock %} #}

{% block body %}

	<div class="container mt-4">
		<div class="row">
			<div class="col-9 mx-auto">

				<a class="btn btn-danger" href="{{ path('unset_admin') }}">{{ button }}</a> <br><br>
				<a class="btn btn-info" href="{{ path('admin') }}">{{ button }}</a> <br><br>
				{# <h1>Hello
									{{ controller_name }}! ✅</h1>
				
								This friendly message is coming from:
								<ul>
									<li>Your controller at
										<code>/Users/heinzwallace/Documents/my_project_directory/src/Controller/HomeController.php</code>
									</li>
									<li>Your template at
										<code>/Users/heinzwallace/Documents/my_project_directory/templates/home/index.html.twig</code>
									</li>
								</ul> #}
				{{ security|default('') }}
			</div>
		</div>
	</div>
{% endblock %}

